.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.box {
  background-color: bisque;
  width: 500px;
  border: 1px solid lightgreen;
  margin: 10px;
}

.container div:nth-child(2) {
  background-color: rgb(171, 217, 238);
}

@media screen and (min-width: 400px) {
  .container {
    flex-direction: row;
  }
  .container div:nth-child(2) {
    background-color: rgb(226, 147, 240);
  }
}

@media screen and (min-width: 900px) {
  .box {
    background-color: blueviolet;
    color: rgba(255, 255, 255, 0.92);
  }
}
